@page "/favorite-articles"
@attribute [Authorize]
@inherits SavedArticlesBase

<h3>Favorite Articles</h3>

<News Articles="@Articles"
      OnLoadMoreArticles="LoadMoreArticlesAsync"
      IsLoadMoreButtonVisible="isLoadMoreButtonVisible"
      Loading="loading" />