@page "/"
@inherits NewsBase

<h3>Newest articles</h3>
<SearchBar OnSearch="RedirectToSearchNewsPage"/>
<News Articles="@Articles"
      OnLoadMoreArticles="LoadMoreFreshArticles"
      IsLoadMoreButtonVisible="isLoadMoreButtonVisible" 
      Loading="loading"/>
