@if (NoArticlesFound)
{
    <NoArticlesFound/>
}
else if (!Articles.Any())
{
    <LoadingSpinner />
}
else
{
    <div>
        @foreach (var article in Articles)
        {
            <Article ArticleDto="@article"></Article>
        }
    </div>

    if (IsLoadMoreButtonVisible)
    {
        <button class="btn btn-primary" @onclick="LoadMoreArticles">Load more</button>
    }
}
