@if (!Loading && !Articles.Any())
{
    <NoArticlesFound/>
}
else if (Loading)
{
    <LoadingSpinner />
}
else
{
    <div>
        @foreach (var article in Articles)
        {
            <Article
                     ExtendedArticleDto="@article" 
                     SaveArticle="SaveArticleAsync"
                     MarkAsFavorite="MarkAsFavoriteAsync"
                     RemoveFromSavedArticles="RemoveFromSavedArticlesAsync"
                     RemoveFromFavoriteArticles="RemoveFromFavoriteArticlesAsync"
            ></Article>
        }
    </div>

    if (IsLoadMoreButtonVisible)
    {
        <button class="btn btn-primary" @onclick="LoadMoreArticles">Load more</button>
    }
}
