@if (!Loading && !Articles.Any())
{
    <NoArticlesFound/>
}
else if (Loading)
{
    <LoadingSpinner />
}
else
{
    <div>
        @foreach (var article in Articles)
        {
            <Article ArticleDto="@article" SaveArticle="SaveArticleAsync"></Article>
        }
    </div>

    if (IsLoadMoreButtonVisible)
    {
        <button class="btn btn-primary" @onclick="LoadMoreArticles">Load more</button>
    }
}
