@page "/saved-articles"
@attribute [Authorize]
@inherits ArticlesBase

<h3>Saved Articles</h3>

<News 
      Articles="@Articles"
      OnLoadMoreArticles="LoadMoreSavedArticles"
      IsLoadMoreButtonVisible="isLoadMoreButtonVisible"
      Loading="loading"
/>