@page "/search-news"
@inherits NewsBase

@if (!loading && Articles.Any())
{
    <h3>Found articles</h3>
}

<SearchBar OnSearch="SearchArticles" />
<News Articles="@Articles"
      OnLoadMoreArticles="LoadMoreArticles"
      IsLoadMoreButtonVisible="isLoadMoreButtonVisible" 
      Loading="loading"/>
