.quote-container {
    height: 67px;
    width: 60%;
    padding: 15px 0;
    text-align: center;
}

q {
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
}

span {
    height: 67px;
}