.container {
    border-radius: 30px;
    background-color: whitesmoke;
    width: 17%;
    text-align: center;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    font-size: 15px;
}