@page "/profile/{id}"

@if (userDetails == null)
{
    <LoadingSpinner></LoadingSpinner>
}
else
{
    <div class="container mt-5 mb-5">
        <div class="row no-gutters">
            <div class="col-md-4 col-lg-4">
                <img src="@imageSrc" alt="Profile Photo" />
            </div>
            <div class="col-md-8 col-lg-8">
                <div class="d-flex flex-column">
                    <div class="d-flex flex-row justify-content-between align-items-center p-5 bg-dark text-white">
                        <h3 class="display-5">@fullName</h3>
                    </div>
                    <div class="p-3 bg-black text-white">
                        <h6>Developer</h6>
                    </div>
                    <div class="p-3 bg-black text-white">
                        <h6>Maybe add a description here</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
