<div class="search-container">
    <div class="show-text-show-icon">
        <button type="submit" class="btn btn-primary hide-btn" 
                style='display: @(showHideText ? "block" : "none")' 
                @onclick="ShowHideText">
            Hide
        </button>

        <button type="submit" class="btn btn-primary" 
                style='display: @(showSearchIcon ? "block" :"none")'
                @onclick="ShowSearchBox">
            <i class="fa fa-search"></i>
        </button>
    </div>

    <div class="search" style='display: @(shouldDisplaySearchBox ?  "block" : "none")'>
        <input type="text" placeholder="Search something..." @bind-value="@searchedWords" />
        <button type="submit" class="btn btn-primary" @onclick="SearchNews">
            <i class="fa fa-search"></i>
        </button>
    </div>
</div>

