@page "/new-it-books"
@attribute [Authorize]

<h3>Books</h3>
<hr/>

<div class="books-container">

    @if (!loading && !Books.Any())
    {
        <NotFound Message="Sorry, no books were found..."></NotFound>
    }
    else if (loading)
    {
        <LoadingSpinner />
    }
    else
    {
        <div>
            @foreach (var book in Books)
            {
                <Book BookDto="@book" />
            }
        </div>
    }
</div>
