@page "/people"
@inherits PersonsBase
@attribute [Authorize]

@if (isLoading)
{
    <LoadingSpinner />
}
else
{
    <h3>People</h3>
    <hr />
    <Persons Users="users"
             isLoadMoreButtonVisible="isLoadMoreButtonVisible"
             LoadMore="LoadMoreUsers" />
}