<div style="margin-bottom: 70px">

    @if (!Loading && !Articles.Any())
    {
        <NotFound Message="Sorry, no articles were found..."></NotFound>
    }
    else if (Loading)
    {
        <LoadingSpinner />
    }
    else
    {
        <div>
            @foreach (var article in Articles)
            {
                <Article ExtendedArticleDto="@article"
                 SaveArticle="SaveArticleAsync"
                 MarkAsFavorite="MarkAsFavoriteAsync"
                 RemoveFromSavedArticles="RemoveFromSavedArticlesAsync"
                 RemoveFromFavoriteArticles="RemoveFromFavoriteArticlesAsync"></Article>
            }
        </div>

        <LoadMoreButton IsLoadMoreButtonVisible="IsLoadMoreButtonVisible"
                    OnLoadMore="OnLoadMoreArticles">
        </LoadMoreButton>
    }
</div>